[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/molly"]
	path = bundle/molly
	url = https://github.com/westoque/molly.vim.git
	ignore = dirty
[submodule "bundle/enterindent"]
	path = bundle/enterindent
	url = https://github.com/vim-scripts/Enter-Indent.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
